.btnbackcolor{
   background-color: rgb(0, 0, 0);
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   transform: scaleY(0);
   height: 100%;
   width: 100%;
   transition: all 0.5s cubic-bezier(.215,.61,.355,1);
}

.btnparent:hover .btnbackcolor{
    transform: scaleY(1);
}

.btnparent2:hover .items{
    color: white !important;
}

.btnparent2:hover .btnbackcolor{
     transform: scaleY(1);
}
